<html>

<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <title></title>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta name="robots" content="noindex, nofollow">
    <meta name="googlebot" content="noindex, nofollow">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="./css/index.css">
    <script type="text/javascript" src="./lib/vue.js"></script>

</head>

<body>
    <section class="todoapp">
        <header class="header">
            <h1>Todo</h1>
            <input autofocus="autofocus" autocomplete="off" placeholder="想干啥?" class="new-todo"  v-model='inputValue' @keyup.enter='addvalue()'>
        </header>
        <section class="main">
            <input type="checkbox" class="toggle-all">
            <ul class="todo-list">
                <li class="todo " v-for='(v,i) in todoList' :class='{completed:v.complete,editing:v.isEdit}'>
                    <div class="view">
                        <input type="checkbox" class="toggle" v-model='v.complete' >
                        <label @dblclick='editTodo(i)'>{{v.name}}</label>
                        <button class="destroy" @click='removeTodo'></button>
                    </div>
                    <input type="text" class="edit" v-model='cacheEdit' @keyup.enter='saveEdit(i)' @keyup.esc='cancelEdit(i)' @blur='cancelEdit(i)'>
                </li>
                <!-- 模板列表 -->
                <!-- <li class="todo completed">
                    <div class="view">
                        <input type="checkbox" class="toggle">
                        <label>21</label>
                        <button class="destroy"></button>
                    </div>
                    <input type="text" class="edit">
                </li>
                <li class="todo editing">
                        <div class="view">
                            <input type="checkbox" class="toggle">
                            <label>21</label>
                            <button class="destroy"></button>
                        </div>
                        <input type="text" class="edit">
                    </li> -->
            </ul>
        </section>
        <footer class="footer">
            <span class="todo-count">
                <strong>{{noDone}}</strong> 项 剩余
            </span>
            <ul class="filters">
                <li>
                    <a href="#/all" class="selected">全部</a>
                </li>
                <li>
                    <a href="#/active" class="selected">未完成</a>
                </li>
                <li>
                    <a href="#/completed" class="selected">完成</a>
                </li>
            </ul>
            <button class="clear-completed" @click='clearAll'>
                清空列表
            </button>
        </footer>
    </section>
    <footer class="info">
        <p>双击进入编辑状态</p>
        <p>鸣谢:
            <a href="http://evanyou.me">Evan You</a>
        </p>
        <p>参考于
            <a href="http://todomvc.com">TodoMVC</a>
        </p>
    </footer>
</body>
</html>
<script>
    let app= new Vue({
        el:'.todoapp',
        data:{
            todoList:[
                {name:"待办事项1",complete:false,isEdit: false},
                {name:"待办事项2",complete:false,isEdit: false},
                {name:"待办事项3",complete:true,isEdit: false},
            ],
            inputValue:'',
            //需要修改的内容,双向绑定,以便赋值取值
            cacheEdit:''
        },
        methods:{
            addvalue(){
                this.inputValue=this.inputValue.trim();
                    if(this.inputValue!=''){
                        this.todoList.push({
                        name:this.inputValue,
                        complete:false,
                        isEdit:false
                    })
                }
                this.inputValue=''
            },
            removeTodo(i){
                this.todoList.splice(i,1);
            },
            editTodo(i){
                for (let i = 0; i < this.todoList.length; i++) {
                    this.todoList[i].isEdit = false;
                }
                this.todoList[i].isEdit = !this.todoList[i].isEdit;
                this.cacheEdit = this.todoList[i].name;
            },
            saveEdit(i){
                this.todoList[i].name=this.cacheEdit;
                this.todoList[i].isEdit=false;
            },
            cancelEdit(i){
                this.todoList[i].isEdit=false;
            },
            clearAll(){
                this.todoList=[];
            }
        },
        computed:{
            noDone(){
                return this.todoList.filter((v, i) => {
                    if (v.complete == false) {
                        return v;
                    }
                }).length;
            },
        }
    })

</script>